@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu/Ubuntu-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu/Ubuntu-Light.ttf');
    font-style: normal;
    font-weight: lighter;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu/Ubuntu-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu/Ubuntu-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans/OpenSans-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans/OpenSans-Light.ttf');
    font-style: normal;
    font-weight: lighter;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans/OpenSans-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}
